
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel='stylesheet' href='/common/lazy_datagrid/lazy_Datagrid.css' />
    <link rel='stylesheet' href='/common/lazy_panel/css/lazy_panel.css' />
    <script type='text/javascript' src="/javascripts/lib/jquery-2.1.4.js"></script>
    <script type='text/javascript' src="/javascripts/lib/bootstrap.min.js"></script>
    <script type='text/javascript' src="/javascripts/lib/underscore-1.4.2.js"></script>
    <script type="text/javascript" src="/javascripts/lib/backbone.js"></script>
    <script type='text/javascript' src="/javascripts/lib/laconic.js"></script>
    <script type='text/javascript' src="/javascripts/lib/backbone_ui.js"></script>


    <!-- lazy_datagrid -->
    <script type='text/javascript' src="/common/lazy_datagrid/lazy_Pager.js"></script>
    <script type='text/javascript' src="/common/lazy_datagrid/lazy_Datagrid.js"></script>
    <script type='text/javascript' src="/common/lazy_datagrid/tableManager.js"></script>

     <!-- lazy_datagrid -->
    <script type='text/javascript' src="/common/lazy_panel/Lazy_Dialog.js"></script>
    <script type='text/javascript' src="/common/lazy_panel/Lazy_Tab.js"></script>
    <script type='text/javascript' src="/common/lazy_panel/Lazy_Wizard.js"></script>
    <script type='text/javascript' src="/common/lazy_panel/Lazy_Mask.js"></script>
    

  </head>
  <body>
	

