
	<% include header.ejs %>

	<div class="well jumbotron">
	    <h1><%= title %></h1>
	    <p>This is a simple node web demo.</p>
	    <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login</a></p>
	</div>

	<% include footer.ejs %>


